.header {
  z-index: 1000;

  &__image {
    width: 2rem;
    height: 2rem;
    box-shadow: 0 0 4px 1px hsla(0, 0%, 100%, 0.08);
  }

  .dropdown-toggle {
    padding-top: 0;
    padding-bottom: 0;
  }

  .dropdown-toggle::after {
    vertical-align: middle;
  }
}
